html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  overflow-y: scroll;
}

a {
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  /*white-space: pre-line;*/
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

/* Accessible focus treatment
  people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't screw with your line-heights
  gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: 'Ubuntu Mono', sans-serif;

}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none;
}

/*  j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}


//start styles here:

hr {
  opacity: 0.1
}

body {
  padding: 150px 10%;
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: #666;
  background-color: #f8fef0;
}

nav {
  position: fixed;
  right: 10%;
  top: 45px;
  margin: 0;
  z-index: 200;
}

nav ul {
  float: right;
}

nav li {
  font-size: 15px;
  margin-left: 20px;
  float: left;
}

nav a{
  text-decoration: none;
  color: #eee;
}

nav a:hover {
  color: #fff;
  border-bottom: 1px dotted white;
}

header {
  border-bottom: 1px solid white;
  padding-left: 10%;
  position: fixed;
  right: 0%;
  top: 0px;
  width: 100%;
  background: #222;
  height: 90px;
  z-index: 50;
  background-color: black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#000000)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #555555, #000000); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #555555, #000000); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #555555, #000000); /* IE10 */
  background-image:      -o-linear-gradient(top, #555555, #000000); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #555555, #000000);
}

header h1 {
position: fixed;
top: 30px;
left: 10%;
z-index: +1;
color: #848;
font-size: 35px;
color: #0f0;
font-family: 'Ubuntu Mono';
}

header p {
  font-size: 15px;
  position: fixed;
  color: #282;
  top: 60px;
  left: 10%;
  font-weight: 100;
}

header a:link {
  color: #0f0; 
  text-decoration: none;
}

header a:visited {
  color: #0f0; 
  text-decoration: none;
}

header a:hover {
  color: #0f0; 
  text-decoration: none;
}

header a:active {
  color: #0f0; 
  text-decoration: none;
}

h2 {
  font-size: 35px;
  padding: 10px 0 40px;
  color: #050;
}

h4 {
  margin: 30px 0px 15px;
  font-size: 35px;
  font-weight: 100;
  color: #999
}

div.tabcode {
  background-color: #111;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #333333, #000000); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #333333, #000000); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #333333, #000000); /* IE10 */
  background-image:      -o-linear-gradient(top, #333333, #000000); /* Opera 11.10+ */
  background-image:         linear-gradient(to bottom, #333333, #000000);
  color: white;
  margin: 20px 0px;
  padding: 40px;
  border-radius: 15px;
  -moz-box-shadow:  0px 10px 5px #ddd;
  -webkit-box-shadow:  0px 10px 5px #ddd;
  -o-box-shadow:  0px 10px 5px #ddd;
  box-shadow:  0px 10px 5px #ddd;
  font-size: 15px;
  line-height: 20px;
  border: 3px solid #444
}

img, a img {
  padding:4px;
  border: 1px solid #bbb;
  background-color:#fff;
  max-width: 50%;
  width: 40%;
  margin: 20px 5% 20px 0%;
  display: inline-block;
}
/*
img:hover {
  -moz-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -o-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
*/
p {
  margin-bottom: 10px;
}

@media screen and (max-width:800px) {

  header {
    height: 150px;
   }

  header h1, header p{
    left: 18%;
  }

  nav {;
    width: 95%;
    top: 110px;
    left: 10%;
  }

  nav ul {
    float: left;
  }

  nav li {
    margin: 0 20px 0 0;
  }

  header, header h1, header p, nav {
    position: absolute;
  }

  #Content {
  padding-top: 70px;
  }

}
