article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{
    display:block
}
audio,canvas,video{
    display:inline-block
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden]{
    display:none
}
html{
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
body{
    margin:0
}
a:focus{
    outline:thin dotted
}
a:active,a:hover{
    outline:0
}
h1{
    font-size:2em;
    a{
          position:relative;
          color:#000
    }
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:700
}
dfn{
    font-style:italic
}
mark{
    background:#ff0;
    color:#000
}
code,kbd,pre,samp{
    font-family:monospace,serif;
    font-size:1em
}
pre{
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word
}
q{
    quotes:"“" "”" "‘" "’"
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:0
}
fieldset{
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    border:0;
    padding:0
}
button,input,select,textarea{
    font-family:inherit;
    font-size:100%;
    margin:0
}
button,input{
    line-height:normal
}
button,html input[type=button],input[type=reset],input[type=submit]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],input[disabled]{
    cursor:default
}
input[type=checkbox],input[type=radio]{
    box-sizing:border-box;
    padding:0
}
input[type=search]{
    -webkit-appearance:textfield;
    box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
textarea{
    overflow:auto;
    vertical-align:top
}
table{
    border-spacing:0
}
a,h1,h2,h3,h4,h5,h6,ol,p,ul{
    margin:0;
    padding:0
}
*{
    box-sizing:border-box
}
* html{
    font-size:93.75%
}
html{
    font-size:15px;
    line-height:20px
}
#landing #content *,#landing #features *,#landing h1,#landing h2,img.overlay{
    animation-fill-mode:backwards;
    animation-timing-function:ease-out
}
#landing #content *,#landing #features *{
    animation-duration:2.2s;
    animation-name:fadeInDelay
}
@media screen and (min-width:51.65625em){
    #landing #features ul,#landing #screenshots ul{
        float:right;
        margin-right:0;
        width:47.93926%
    }
}
@media screen and (min-width:78.65625em){
    #landing #features ul,#landing #screenshots ul{
        width:48.73164%
    }
}
#landing #content,#landing #features,#landing #screenshots,article#manual,footer{
    margin-left:-1.8em;
    margin-right:-1.8em;
    padding-left:1.8em;
    padding-right:1.8em
}
@media screen and (min-width:51.65625em){
    #landing #content,#landing #features,#landing #screenshots,article#manual,footer{
        margin-left:-4.5em;
        margin-right:-4.5em;
        padding-left:4.5em;
        padding-right:4.5em
    }
}
#landing #content:after,#landing #features:after,#landing #screenshots:after,#landing header:after,article#manual:after,body:after,footer:after{
    clear:both;
    content:"";
    display:table
}
@keyframes fadeInH1{
    0%{
        opacity:0;
        transform:translatex(-1em)
    }
    to{
        opacity:1
    }
}
@keyframes fadeInH2{
    0%{
        opacity:0;
        transform:translatex(-.6em)
    }
    40%{
        opacity:0;
        transform:translatex(-.6em)
    }
    to{
        opacity:1
    }
}
body{
    color:#222
}
code,p,pre,td,ul{
    font-size:13px;
    line-height:20px;
    margin-bottom:20px
}
@media screen and (min-width:51.65625em){
    code,p,pre,td,ul{
        font-size:16px;
        line-height:20px
    }
    code.matty,p.matty,pre.matty,td.matty,ul.matty{
        float:right;
        margin-right:0
    }
}
@media screen and (min-width:78.65625em){
    code,p,pre,td,ul{
        font-size:19px;
        line-height:30px
    }
}
.kern-ty{
    letter-spacing:0
}
body{
    font-family:Unica SB,Helvetica Neue,Arial,sans-serif
}
#landing p{
    text-shadow:0 0 1px rgba(0,0,0,.7)
}
#landing p,#landing ul{
    color:#d9f5f8
}
#landing h1{
    font-size:75px;
    font-weight:400;
    letter-spacing:-.05em;
    line-height:80px;
    text-shadow:0 0 7px hsla(0,0%,100%,.5)
}
@media screen and (min-width:51.65625em){
    #landing h1{
        float:left;
        font-size:95px;
        line-height:100px;
        margin-right:4.12148%;
        text-align:right;
        width:47.93926%
    }
}
@media screen and (min-width:78.65625em){
    #landing h1{
        float:left;
        font-size:160px;
        line-height:170px;
        margin-right:2.53672%;
        width:42.3231%
    }
}
#landing h1{
    animation-duration:1s;
    animation-name:fadeInH1
}
#landing h2,#landing h3,#landing h4{
    text-shadow:0 0 4px rgba(0,0,0,.85)
}
#landing h2{
    color:#d9f5f8;
    font-size:30px
}
@media screen and (min-width:51.65625em){
    #landing h2{
        bottom:15%;
        font-size:35px;
        line-height:30px;
        padding-left:52.06074%;
        position:absolute;
        width:100%
    }
}
@media screen and (min-width:78.65625em){
    #landing h2{
        font-size:55px;
        line-height:50px;
        padding-left:51.26836%;
        width:100%
    }
}
#landing h2{
    animation-duration:1.5s;
    animation-name:fadeInH2
}
@media screen and (min-width:51.65625em){
    #landing h3{
        float:left;
        margin-right:4.12148%;
        width:47.93926%
    }
}
@media screen and (min-width:78.65625em){
    #landing h3{
        float:left;
        margin-right:2.53672%;
        width:42.3231%
    }
}
@media screen and (min-width:51.65625em){
    #landing h4{
        padding-right:52.06074%;
        text-align:right;
        width:100%
    }
}
@media screen and (min-width:78.65625em){
    #landing h4{
        padding-right:57.6769%
    }
}
#landing h3,#landing h4{
    color:#d9f5f8
}
@media screen and (min-width:51.65625em){
    #landing h3,#landing h4{
        text-align:right
    }
}
h1{
    letter-spacing:-.05em
}
@media screen and (min-width:51.65625em){
    h1{
        float:left;
        margin-right:4.12148%;
        text-align:right;
        width:27.11497%
    }
}
@media screen and (min-width:78.65625em){
    h1{
        float:left;
        margin-right:2.53672%;
        width:29.50601%
    }
}
h2{
    color:#d9f5f8
}
h2,header h3{
    font-weight:300
}
@media screen and (min-width:51.65625em){
    h2,header h3{
        padding-left:31.23644%;
        width:100%
    }
}
@media screen and (min-width:78.65625em){
    h2,header h3{
        padding-left:32.04272%;
        width:100%
    }
}
h3,h4{
    display:block;
    margin-bottom:40px
}
h1,h2,h3{
    font-size:28px;
    line-height:40px
}
@media screen and (min-width:51.65625em){
    h1,h2,h3{
        font-size:32px;
        line-height:40px
    }
}
@media screen and (min-width:78.65625em){
    h1,h2,h3{
        font-size:35px;
        line-height:40px
    }
}
h4,section>ul>li{
    font-size:22px;
    line-height:30px
}
@media screen and (min-width:51.65625em){
    h4,section>ul>li{
        font-size:24px;
        line-height:30px
    }
}
@media screen and (min-width:78.65625em){
    h4,section>ul>li{
        font-size:30px;
        line-height:40px
    }
}
a{
    color:#4db0c4;
    text-decoration:none;
    text-shadow:0 0 1px rgba(0,0,0,.1)
}
a:hover{
    color:#c1e3ea;
    text-decoration:underline
}
ol,ul{
    font-weight:bolder
}
li{
    margin-top:10px
}
pre{
    background:#f8f8f8;
    display:block;
    font-family:Courier New,Courier;
    padding:.5em
}
pre,table{
    font-size:13px;
    line-height:20px
}
table{
    background-color:#f8f8f8;
    border-collapse:collapse;
    margin:0 0 20px
}
tr{
    border-bottom:1px dotted #894536
}
tr:first-child{
    border-top:1px dotted #894536
}
tr:nth-child(2n){
    background-color:#eee;
    padding:2em
}
td{
    border:0 solid #d9f5f8;
    padding:1em 2em 1em .5em
}
.hash{
    word-break:break-word
}
img{
    vertical-align:bottom
}
html{
    background:url(../images/talking-all-that-noise.png) #c93422;
    height:100%;
    min-width:305px;
    position:relative
}
body{
    min-height:100%;
    -ms-overflow-x:hidden;
    overflow-x:hidden;
    padding-left:1.8em;
    padding-right:1.8em
}
@media screen and (min-width:51.65625em){
    body{
        margin-left:auto;
        margin-right:auto;
        padding-left:4.5em;
        padding-right:4.5em;
        width:auto
    }
}
article#manual,div{
    margin-bottom:0;
    margin-top:0;
    padding-bottom:40px;
    padding-top:60px
}
@media screen and (min-width:51.65625em){
    article#manual,div{
        padding-bottom:100px;
        padding-top:80px
    }
}
@media screen and (min-width:78.65625em){
    article#manual,div{
        padding-bottom:160px;
        padding-top:140px
    }
}
@keyframes fadeIn{
    0%{
        opacity:0
    }
    to{
        opacity:1
    }
}
img.overlay{
    animation-duration:1.5s;
    animation-name:fadeIn;
    max-width:100%;
    padding:0;
    position:absolute;
    right:1.8em;
    top:1em;
    width:27%
}
@media screen and (min-width:51.65625em){
    img.overlay{
        left:-2em;
        right:auto;
        top:0
    }
}
#landing header{
    position:relative;
    width:100%
}
@media screen and (min-width:51.65625em){
    #landing header{
        margin-bottom:140px;
        margin-top:120px;
        padding-bottom:0;
        padding-top:0
    }
}
@media screen and (min-width:65.15625em){
    #landing header{
        margin-bottom:150px;
        margin-top:150px
    }
}
@media screen and (min-width:78.65625em){
    #landing header{
        margin-bottom:160px;
        margin-top:170px
    }
}
@media screen and (min-width:105.65625em){
    #landing header{
        margin-bottom:180px;
        margin-top:260px
    }
}
header{
    margin-bottom:60px;
    margin-top:60px
}
header a:active,header a:hover,header a:link,header a:visited{
    color:#222;
    text-decoration:none
}
@keyframes fadeInDelay{
    0%{
        opacity:0
    }
    66%{
        opacity:0
    }
    to{
        opacity:1
    }
}
#landing #content{
    background:url(../images/talking-all-that-noise.png) #43110b;
    box-shadow:inset 0 0 100px rgba(0,0,0,.5),0 0 100px hsla(0,0%,100%,.2)
}
@media screen and (min-width:51.65625em){
    #landing #content p{
        display:block;
        float:left;
        margin-right:4.12148%;
        width:47.93926%
    }
    #landing #content p:nth-child(2){
        text-align:right
    }
    #landing #content p:nth-child(3){
        margin-top:30px
    }
    #landing #content p:nth-child(1n+3){
        float:right;
        margin-right:0
    }
    #landing #content p:nth-child(1n+4){
        clear:both
    }
}
@media screen and (min-width:78.65625em){
    #landing #content p{
        display:block
    }
    #landing #content p:nth-child(2){
        text-align:right;
        width:42.3231%
    }
    #landing #content p:nth-child(1n+3){
        float:right;
        margin-right:0
    }
    #landing #content p:nth-child(1n+4){
        clear:both
    }
}
#landing #features{
    background:url(../images/talking-all-that-noise.png) #e24e3c;
    box-shadow:inset 0 0 40px hsla(0,0%,100%,.3);
    position:relative
}
#landing #features li{
    list-style:none
}
#landing #features img{
    float:right;
    max-width:33%;
    position:relative;
    top:-7em
}
@media screen and (min-width:51.65625em){
    #landing #features img{
        bottom:6em;
        left:4.5em;
        position:absolute;
        right:auto;
        top:auto
    }
}
#landing #screenshots{
    box-shadow:inset 0 0 100px rgba(0,0,0,.3)
}
#landing #screenshots ul{
    list-style:none
}
@media screen and (min-width:105.65625em){
    #landing #screenshots li{
        float:left;
        margin-right:5.20548%;
        width:47.39726%
    }
    #landing #screenshots li:nth-child(2n){
        float:right;
        margin-right:0
    }
}
#landing #screenshots a{
    background-color:#000;
    background:#000;
    border:1em solid #0b0302;
    border-radius:6px;
    box-shadow:0 0 .5em #c25246,inset 0 0 12em #1f464e;
    display:block;
    margin-bottom:2em;
    min-height:10em;
    padding:2em 1em;
    text-align:center
}
#landing #screenshots a img{
    height:auto;
    max-width:100%;
    vertical-align:middle
}
article#manual{
    background:url(../images/talking-all-that-noise.png) #eee;
    box-shadow:inset 0 0 100px rgba(0,0,0,.3)
}
@media screen and (max-width:51.65625em){
    article#manual section{
        max-width:35em
    }
}
article#manual section hr{
    border:1px solid #894536
}
article#manual section{
    position:relative
}
@media screen and (min-width:51.65625em){
    article#manual section{
        margin-bottom:40px;
        margin-top:40px;
        padding-bottom:0;
        padding-left:31.23644%;
        padding-top:0
    }
    article#manual section h3{
        left:0;
        margin-top:-.05em;
        position:absolute;
        text-align:right;
        width:27.11497%
    }
    article#manual section hr{
        margin-top:-.5em;
        position:absolute;
        width:68.76356%
    }
}
@media screen and (min-width:78.65625em){
    article#manual section{
        padding-left:32.04272%
    }
    article#manual section h3{
        width:29.50601%
    }
    article#manual section hr{
        width:67.95728%
    }
}
article#manual ol,article#manual ul{
    list-style:none
}
#Zoomer{
    background:rgba(0,0,0,.5) url(../images/stripey-dark.png) repeat;
    display:none;
    height:100%;
    margin-left:-1.8em;
    padding:4em 2em;
    position:fixed;
    top:0;
    width:100%;
    z-index:9
}
@media screen and (min-width:51.65625em){
    #Zoomer{
        margin-left:-4.5em
    }
}
#Zoomer img{
    border:2em solid #000;
    box-shadow:0 1em 3em #000;
    display:block;
    margin:auto;
    max-width:100%;
    width:auto
}
#Zoomer .control-icon{
    background:url(../images/close-button.svg);
    background-size:contain;
    height:5em;
    opacity:.8;
    position:absolute;
    right:10%;
    top:2.5em;
    width:5em;
    z-index:30
}
#Zoomer .control-icon:hover{
    opacity:1
}
footer{
    background:url(../images/talking-all-that-noise.png) #43110b;
    box-shadow:inset 0 0 50px rgba(0,0,0,.5),-30px 0 70px hsla(0,0%,100%,.3);
    margin-bottom:0;
    margin-top:0;
    padding-bottom:40px;
    padding-top:80px
}
footer p{
    color:#d9f5f8;
    float:left;
    margin-right:3em;
    text-shadow:0 0 1px rgba(0,0,0,.7)
}

