@import "base";

img {
	vertical-align: bottom
}

html {
	height: 100%;
	background: url("../images/talking-all-that-noise.png") mix($backgroundShade,black,90%);
	min-width: 305px; //stop issues at small widths.
	position: relative;
}

body {
	min-height: 100%;
	-ms-overflow-x: hidden;
	overflow-x: hidden; //stop horizontal scrollbars
	padding-left: $grid-padding-mobile ;
	padding-right: $grid-padding-mobile ;	
	@include at-breakpoint($medium) {
		@include container;
	}	
}

div, article#manual {
	@include rhythm(0,3,2,0);
	@include at-breakpoint($medium) {
		@include rhythm(0,4,5,0);
	}
	@include at-breakpoint($wide) {
		@include rhythm(0,7,8,0);
	}	
}

@include keyframes(fadeIn) {
	0% {
		opacity: 0;
		}
	100% {
		opacity: 1;
	}
}

img.overlay {
	padding: 0;
	position: absolute;
	right: $grid-padding-mobile;
	top: 1em;
	width: 27%;
	max-width: 100%;
	@extend %animation-base;	
	@include animation-duration(1.5s);
	@include animation-name (fadeIn);	
	@include at-breakpoint($medium) {
		top: 0;
		right: auto;
		left: -2em;
	}		
}

#landing header {
	@extend %clearfix;
	position: relative;
	width: 100%;
	@include at-breakpoint($medium) {
		@include rhythm(6,0,0,7);
	}	
	@include at-breakpoint(13) {
		@include rhythm(7.5,0,0,7.5);
	}		
	@include at-breakpoint($wide) {
		@include rhythm(8.5,0,0,8);
	}	
	@include at-breakpoint(22) {
		@include rhythm(13,0,0,9);
	}		
	
}

header {
	@include rhythm(3,0,0,3);
}

@include keyframes(fadeInDelay) {
	0% {
		opacity: 0;
		}
	66% {
		opacity: 0;
		}
	100% {
		opacity: 1;
	}
}

#landing #content {
	@include box-shadow(inset 0 0 100px transparentize(black, 0.5), 0 0 100px transparentize(white, 0.8));
	background: url("../images/talking-all-that-noise.png") mix($backgroundShade,black, 30%);
	@extend %bleed;
	@extend %clearfix;	
	@extend %fade-in-last;	
	@include at-breakpoint($medium) {
	p {
		display: block;
		@include span-columns(5, $medium);
		&:nth-child(2) {
			text-align: right;
		}		
		&:nth-child(3) {
			@include margin-leader(1.5);
		}		
		
		&:nth-child(1n+3) {
			@include omega;
		}
		&:nth-child(1n+4) {
			clear: both;	
		}
	}
	}	
	@include at-breakpoint($wide) {
		p {
			display: block;
			&:nth-child(2) {
				width: columns(7, $wide);
			}	
			&:nth-child(2) {
				text-align: right;
			}				
			&:nth-child(1n+3) {
				@include omega;
			}
			&:nth-child(1n+4) {
				clear: both;	
			}
		}
	}	
}
#landing #features {
	@include box-shadow(inset 0 0 40px transparentize(white, 0.7));
	position: relative;
	background: url("../images/talking-all-that-noise.png") mix($backgroundShade,white,90%);
	@extend %bleed;
	@extend %clearfix;
	@extend %fade-in-last;
	ul {
		@extend %right-hand-block;	
	}	
	li {
		list-style: none;
	}
	img {
		float:right;
		max-width: 33%;
		top: -7em;
		position: relative;
		@include at-breakpoint($medium) {
			position: absolute;		
			right: auto;
			left: $grid-padding;
			top: auto;
			bottom: 6em;
		}	
	}		
}
%fade-in-last {
	* {
		@extend %animation-base;		
		@include animation-duration(2.2s);
		@include animation-name (fadeInDelay);	
	}	
}

%right-hand-block {
	@include at-breakpoint($medium) {
		@include span-columns(5 omega, $medium);
	}	
	@include at-breakpoint($wide) {
		@include span-columns(8 omega, $wide);
	}
}

%bleed {
	@include bleed($grid-padding-mobile);
	@include at-breakpoint($medium) {
		@include bleed;
	}	
}


#landing #screenshots {
	@include box-shadow(inset 0 0 100px transparentize(black, 0.7));
	@extend %bleed;	
	@extend %clearfix;
	ul {
		@extend %right-hand-block;	
		list-style: none;
	}
	@include at-breakpoint(22) {
		li {
			@include span-columns(4, 8);
			//@include nth-omega(2n); update compass when beta upgraded.
			&:nth-child(2n) {
				@include omega;
			}
		}
	}
	
	a {
		@include border-radius(6px);
		min-height: 10em;
		border: 1em solid mix(black, $backgroundShade, 95%);
		@include box-shadow(0 0 0.5em mix($backgroundShade, $ice, 80%), 0 0 12em mix(black, $ice, 60%) inset);
		padding: 2em 1em;
		background-color: black;
		background: black;
		display: block;
		text-align: center;
		margin-bottom: 2em;
		img {
			vertical-align: middle;
			max-width: 100%;
			height: auto;
		}
	}
}

article#manual {
	background: url("../images/talking-all-that-noise.png") #eee;
	@include box-shadow(inset 0 0 100px transparentize(black, 0.7));
	@extend %bleed;	
	@extend %clearfix;

    section {
    	@include at-breakpoint ($minimum-medium) {
    		max-width: 35em;
    	}
    	hr {
    		border: 1px solid $backgroundShadeGreyRed;
    	}
    	position: relative;
	    @include at-breakpoint ($medium) {
	    	@include rhythm(2,0,0,2);
	    	@include prefix(3, $medium);
		    h3 {
			    position: absolute;
			    margin-top: -0.05em;
			    left: 0;
			    width: columns(3, $medium);
			    text-align: right
		    }
		    hr {
		    	width: columns(7, $medium);
		    	position: absolute;
		    	margin-top: -0.5em;
		    }
	    }
	    @include at-breakpoint ($wide) {
	    	@include prefix(5, $wide);
	    	h3 {
		    	width: columns(5, $wide);
	    	}
		    hr {
		    	width: columns(11, $wide);
		    }	    	
	    }
    }

    ul, ol {
	    list-style: none;
    }
    	
}

#Zoomer {
	@extend %image-text-box-styling;
	position: fixed;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
	padding: 4em 2em;
	display: none;
	background: rgba(0, 0, 0, 0.5) url("../images/stripey-dark.png") repeat ;
	margin-left: -$grid-padding-mobile;
	@include at-breakpoint($medium){
		margin-left: -$grid-padding;
	}
	
	img {
		border: 2em solid black;
		margin: auto;
		display: block;
		max-width: 100%;
		width: auto;
		@include box-shadow(0em 1em 3em black);
	}	

	.control-icon {
		width: 5em;
		height: 5em;
		position: absolute;
		top: 2.5em;
		right: 10%;
		z-index: 30;
		background: url(../images/close-button.svg);
		@include background-size(contain);
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}		
}


footer {
	@include rhythm(0,4,2,0);
	background: url("../images/talking-all-that-noise.png") mix($backgroundShade,black, 30%);
	@extend %bleed;	
	@extend %clearfix;
	@include box-shadow(inset 0 0 50px transparentize(black, 0.5), -30px 0 70px transparentize(white, 0.7));
	p {
		float:left;
		margin-right: 3em;
	}
}


%clearfix {
	@include pie-clearfix;
}

%animation-base {
	@include animation-timing-function (ease-out);
	@include animation-fill-mode (backwards);
}